@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    background-image: url(/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}